/* ItemList.css */
.item-list {
    padding: 100px;
    background-color:#2c3e50 ;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;

}

.item-list h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.item-list .add-button {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.item-list .add-button:hover {
    background-color: #218838;
}

.item-list table {
    width: 100%;
    border-collapse: collapse;
}

.item-list table th, .item-list table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.item-list table th {
    background-color: #f2f2f2;
    color: #000000;
}

.item-list table td {
    color: #ffffff;
}

.item-list table tr:nth-child(even) {
    background-color: #11045b;
}

.item-list table tr:hover {
    background-color: #000000;
}

.item-list .edit-button, .item-list .delete-button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item-list .edit-button {
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
}

.item-list .edit-button:hover {
    background-color: #0056b3;
}

.item-list .delete-button {
    background-color: #dc3545;
    color: #fff;
    border-radius: 3px;
}

.item-list .delete-button:hover {
    background-color: #c82333;
}
