body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #e0e0e0;
}

.create-order {
  margin: 20px auto;
  max-width: 600px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.create-order h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-form h2 {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

.order-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.order-form .form-group label {
  font-weight: bold;
  color: #cfcfcf;
}

.order-form .form-group input {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #ffffff;
}

.order-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-form button:hover {
  background-color: blue;
}

.error-message {
  color: #ff6f61;
  text-align: center;
  font-weight: bold;
}

.manage-orders {
  margin: 20px auto;
  max-width: 800px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: #e0e0e0;
}

.manage-orders h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.manage-orders ul {
  list-style-type: none;
  padding: 0;
}

.manage-orders li {
  background-color: #2e2e2e;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #444;
  color: #e0e0e0;
}

.manage-orders li p {
  margin: 5px 0;
  font-size: 14px;
  color: #cfcfcf;
}

.manage-orders button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e74c3c;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manage-orders button:hover {
  background-color: #c0392b;
}

.orders {
  margin: 20px auto;
  max-width: 800px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: #e0e0e0;
}

.orders h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.orders ul {
  list-style-type: none;
  padding: 0;
}

.orders li {
  background-color: #2e2e2e;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #444;
  color: #e0e0e0;
}

.orders li p {
  margin: 5px 0;
  font-size: 14px;
  color: #cfcfcf;
}

p {
  color: #cfcfcf;
}
