
.header {
  background-color: #007BFF; 
  color: #FFFFFF; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out; 
  max-width: 100%;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);

}

.header-nav {
  display: flex;
  gap: 15px; 
}

.header-link {
  text-decoration: none;
  color: #FFFFFF; 
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.header-link:hover {
  color: #B3E5FC; 
  transform: translateY(-3px); 
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

.header-nav {
  animation: slideIn 0.5s ease-in-out; 
}
