body {
  background-image: url("../images/backgroun.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #e0e0e0;
}

.orders {
  margin: 20px auto;
  max-width: 800px;
  background-color:  #007BFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Subtler shadow */
  color: #e0e0e0;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.orders h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.orders ul {
  list-style-type: none;
  padding: 0;
}

.orders li {
  background-color:  #007BFF;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #444;
  color: #e0e0e0;
  transition: background-color 0.3s ease-in-out;
}

.orders li:hover {
  background-color: #3a3a3a; /* Slightly darker color on hover */
}

.orders li p {
  margin: 5px 0;
  font-size: 14px;
  color: #cfcfcf;
}

p {
  color: #cfcfcf;
}

.orders {
  margin: 20px auto;
  max-width: 800px;
  background-color:  #007BFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Subtler shadow */
  color: #e0e0e0;
  animation: fadeIn 0.5s ease-in-out;
}

.orders h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.orders ul {
  list-style-type: none;
  padding: 0;
}

.orders li {
  background-color:  #007BFF;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #444;
  color: #e0e0e0;
  transition: background-color 0.3s ease-in-out;
}

.orders li:hover {
  background-color: #007BFF; /* Vibrant blue on hover */
}

.orders li p {
  margin: 5px 0;
  font-size: 14px;
  color: #cfcfcf;
}

p {
  color: #cfcfcf;
}
